@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/* * {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
} */
body {
	font-family: 'Roboto', sans-serif;
	background: #ffffff;
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}

.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

/* .tabla{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding: auto;
	width: 70%;	
} */

h1{
	text-align: center;
	margin: 2em;
}

@media only screen and (max-width: 600px) {
	/* #mobile{
		height: 100vh!important;
	} */
	h3{
		font-size: 50px;
	}
	input{
		height: 50px;
	}
	label{
		margin: 30px 0 0 0;
		font-size: 52px;
	}
	p{
		font-size: 32px;
	}
	button{
		width: 220px;
	}
	select{
		width: 120px;
	}
}